.header {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 10px;
}

.logo {
    margin: 0px 10px;
    align-self: center;
}

.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-self: center;
}

.navigation li {
    display: block;
    padding: 0px 0px;
}

.search input {
    background-color: #1e0D28;
    background-image: url(/images/search-icon.svg);
    background-position: 7px 10px;
    background-repeat: no-repeat;
    height: 40px;
    color: #fff;
    padding-left: 35px;
    border: 1px solid #38134e;
    border-radius: 10px;
    margin-right: 10px;
}

.loginBtn button {
    background-color: #451662;
    border: 1px solid #451662;
    border-radius: 10px;
    color: #fff;
    width: 100px;
    height: 40px;
    padding-top: 0px;
    margin-right: 10px;
}

.registerBtn button {
    background-color: white;
    border: 1px solid #451662;
    border-radius: 10px;
    color: #451662;
    width: 100px;
    height: 40px;
    padding-top: 0px;
    margin-right: 10px;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation > li {
    position: relative;
}

/* ===== LINK CHUNG ===== */
.navigation a,
.dropdownTitle {
    display: block;
    padding: 16px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

/* ===== HOVER ===== */
.navigation a:hover,
.dropdownTitle:hover {
    text-decoration: underline;
}

.dropdownTitle:hover {
    cursor: default;
}

/* ===== ACTIVE (CHỈ ÁP DỤNG 1 MỤC) ===== */
.active {
    font-weight: 600;
}

/* ===== DROPDOWN ===== */
.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: default;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background-color: #2b0a3d;
    list-style: none;
    padding: 0;
    margin: 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    z-index: 999;
}

.dropdown:hover .dropdownMenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.btn:hover {
    cursor: pointer;
}



