.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navigation li {
    display: block;
    padding: 0px 10px;
}

.topLevelHeader {
    color: white;
    height: 50px;
    background-color: #222222;
    display: flex;
}

.logo {
    color: red;
    margin: 0px 10px;
}

.topLevelHeaderItem {
    align-self: center;
}

.topLevelHeader button {
    width: 100px;
    height: 30px;
    margin: 0px 10px;
}

.secondLevelHeader {
    height: 50px;
    background-color: #cccccc;
    display: flex;
}

.secondLevelHeader button {
    width: 100px;
    height: 30px;
    margin: 0px 10px;
}

.secondLevelHeader input {
    height: 20px;
    width: 200px;
    border-radius: 10px;
    padding: 0px 10px;
}

.secondLevelHeaderItem {
    align-self: center;
}
