* {
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", Arial, sans-serif, ;
    color: #fff;
    background-color: #15061e;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}